In [1]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

39
30
27
18

In [2]:
idades = [39, 30, 27, 18]

In [3]:
type(idades)

list

In [4]:
len(idades)

4

In [5]:
idades[0]

39

In [6]:
idades

[39, 30, 27, 18]

In [7]:
print(idades[1])
print(idades[2])
print(idades[3])

30
27
18

In [8]:
idades.append(15)

In [9]:
idades

[39, 30, 27, 18, 15]

In [10]:
idades[4]

15

In [11]:
idades[5]

IndexError: list index out of range

In [12]:
for idade in idades:
    print(idade)

39
30
27
18
15

In [13]:
idades.remove(30)

In [14]:
idades

[39, 27, 18, 15]

In [15]:
idades.remove(30)

ValueError: list.remove(x): x not in list

In [16]:
idades.append(15)

In [17]:
idades

[39, 27, 18, 15, 15]

In [18]:
idades.remove(15)

In [19]:
idades

[39, 27, 18, 15]

In [20]:
idades.append(27)
idades.remove(27)
idades

[39, 18, 15, 27]

In [21]:
28 in idades

False

In [22]:
15 in idades

True

In [23]:
if 15 in idades:
    idades.remove(15)

In [24]:
idades

[39, 18, 27]

In [25]:
if  28 in idades:
    idades.remove(28)

In [26]:
idades

[39, 18, 27]

In [27]:
idades.append(19)
idades

[39, 18, 27, 19]

In [28]:
idades.insert(0, 20)
idades

[20, 39, 18, 27, 19]

In [29]:
idades = [20, 39, 18]
idades

[20, 39, 18]

In [30]:
idades.append([27, 19])

In [31]:
idades

[20, 39, 18, [27, 19]]

In [32]:
for elemento in idades:
    print('Recebi o elemento', elemento)

Recebi o elemento 20
Recebi o elemento 39
Recebi o elemento 18
Recebi o elemento [27, 19]

In [33]:
idades = [20, 39, 18]
idades.extend([27, 19])
idades

[20, 39, 18, 27, 19]

In [34]:
for idade in idades:
    print(idade + 1)

21
40
19
28
20

In [35]:
idades_no_ano_que_vem = []
for idade in idades:
    idades_no_ano_que_vem.append(idade + 1)
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [36]:
idades_no_ano_que_vem = [idade+1 for idade in idades]
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [37]:
[idade for idade in idades if idade > 21]

[39, 27]

In [38]:
def proximo_ano(idade):
    return idade+1

[proximo_ano(idade) for idade in idades if idade > 21]

[40, 28]

In [39]:
def faz_processamento_de_visualizacao(lista):
    print(len(lista))
    lista.append(13)

In [40]:
idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)
idades

5

[16, 21, 29, 56, 43, 13]

In [41]:
def faz_processamento_de_visualizacao(lista = []):
    print(len(lista))
    print(lista)
    lista.append(13)

In [42]:
faz_processamento_de_visualizacao()

0
[]

In [43]:
faz_processamento_de_visualizacao()

1
[13]

In [44]:
faz_processamento_de_visualizacao()

2
[13, 13]

In [45]:
faz_processamento_de_visualizacao()

3
[13, 13, 13]

In [46]:
def faz_processamento_de_visualizacao(lista = None):
    if lista == None:
        lista = list()
    print(len(lista))
    print(lista)
    lista.append(13)

In [47]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
0
[]
0
[]
0
[]

# Objetos próprios

In [48]:
class ContaCorrente:
    
    def __init__(self, codigo):
        self.codigo = codigo
        self.saldo = 0
        
    def deposita(self, valor):
        self.saldo += valor
        
    def __str__(self):
        return "[>>Codigo {} saldo {}<<]".format(self.codigo, self.saldo)

In [49]:
conta_do_gui = ContaCorrente(15)
print(conta_do_gui)

[>>Codigo 15 saldo 0<<]

In [50]:
conta_do_gui.deposita(500)
print(conta_do_gui)

[>>Codigo 15 saldo 500<<]

In [51]:
conta_da_dani = ContaCorrente(47685)
conta_da_dani.deposita(1000)
print(conta_da_dani)

[>>Codigo 47685 saldo 1000<<]

In [52]:
contas = [conta_do_gui, conta_da_dani]
for conta in contas:
    print(conta)

[>>Codigo 15 saldo 500<<]
[>>Codigo 47685 saldo 1000<<]

In [53]:
contas = [conta_do_gui, conta_da_dani, conta_do_gui]

In [54]:
print(contas[0])

[>>Codigo 15 saldo 500<<]

In [55]:
conta_do_gui.deposita(100)

In [56]:
print(contas[0])

[>>Codigo 15 saldo 600<<]

In [57]:
print(conta_do_gui)

[>>Codigo 15 saldo 600<<]

In [58]:
print(contas[2])

[>>Codigo 15 saldo 600<<]

In [59]:
contas[2].deposita(300)

In [60]:
print(conta_do_gui)

[>>Codigo 15 saldo 900<<]

In [61]:
def deposita_para_todas(contas):
    for conta in contas:
        conta.deposita(100)
        
contas = [conta_do_gui, conta_da_dani]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>>Codigo 15 saldo 900<<] [>>Codigo 47685 saldo 1000<<]
[>>Codigo 15 saldo 1000<<] [>>Codigo 47685 saldo 1100<<]

In [62]:
contas.insert(0, 76)
print(contas[0], contas[1], contas[2])

76 [>>Codigo 15 saldo 1000<<] [>>Codigo 47685 saldo 1100<<]

In [63]:
deposita_para_todas(contas)
print(contas[0], contas[1], contas[2])

AttributeError: 'int' object has no attribute 'deposita'

In [64]:
guilherme = ('Guilherme', 37, 1981) # tupla
daniela = ('Daniela', 31, 1987)
# paulo = (39, 'Paulo', 1979) # ruim

In [65]:
guilherme.append(6754)

AttributeError: 'tuple' object has no attribute 'append'

In [66]:
conta_do_gui = (15, 1000)
# conta_do_gui.deposita() # variação OO
conta_do_gui[1]

1000

In [67]:
conta_do_gui[1] += 100

TypeError: 'tuple' object does not support item assignment

In [68]:
def deposita(conta): # variação "funcional" (separando o comportamento dos dados)
    novo_saldo = conta[1] + 100
    codigo = conta[0]
    return (codigo, novo_saldo)

In [69]:
deposita(conta_do_gui)

(15, 1100)

In [70]:
conta_do_gui

(15, 1000)

In [71]:
conta_do_gui = deposita(conta_do_gui)
conta_do_gui

(15, 1100)

In [72]:
usuarios = [guilherme, daniela]
usuarios

[('Guilherme', 37, 1981), ('Daniela', 31, 1987)]

In [73]:
usuarios.append(('Paulo', 39, 1979))

In [74]:
usuarios

[('Guilherme', 37, 1981), ('Daniela', 31, 1987), ('Paulo', 39, 1979)]

In [75]:
usuarios[0]

('Guilherme', 37, 1981)

In [76]:
usuarios[0][0]

'Guilherme'

In [77]:
usuarios[0][0] = 'Guilherme Silveira'

TypeError: 'tuple' object does not support item assignment

In [78]:
conta_do_gui = ContaCorrente(15)
conta_do_gui.deposita(500)
conta_da_dani = ContaCorrente(234876)
conta_da_dani.deposita(1000)

contas = (conta_do_gui, conta_da_dani)

In [79]:
contas

(<__main__.ContaCorrente at 0x7fefadca7cd0>,
 <__main__.ContaCorrente at 0x7fefadca7f40>)

In [80]:
for conta in contas:
    print(conta)

[>>Codigo 15 saldo 500<<]
[>>Codigo 234876 saldo 1000<<]

In [81]:
conta.append(423768)

AttributeError: 'ContaCorrente' object has no attribute 'append'

In [82]:
contas[0].deposita(300)

In [83]:
for conta in contas:
    print(conta)

[>>Codigo 15 saldo 800<<]
[>>Codigo 234876 saldo 1000<<]

# Herança e Polimorfismo

In [105]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass=ABCMeta):
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def deposita(self, valor):
        self._saldo += valor
        
    @abstractmethod
    def passa_o_mes(self):
        pass
        
    def __str__(self):
        return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [106]:
print(Conta(88))

TypeError: Can't instantiate abstract class Conta with abstract methods passa_o_mes

In [107]:
class ContaCorrente(Conta):
    
    def passa_o_mes(self):
        self._saldo -= 2
        
class ContaPoupanca(Conta):
    
    def passa_o_mes(self):
        self._saldo *= 1.01
        self._saldo -=3
        
class ContaInvestimento(Conta):
    pass

In [108]:
ContaInvestimento(764)

TypeError: Can't instantiate abstract class ContaInvestimento with abstract methods passa_o_mes

In [109]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>>Codigo 16 Saldo 998<<]

In [110]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>>Codigo 17 Saldo 1007.0<<]

In [111]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]

for conta in contas:
    conta.passa_o_mes() # duck typing
    print(conta)

[>>Codigo 16 Saldo 998<<]
[>>Codigo 17 Saldo 1007.0<<]

# evitaremos usar array puro, se precisamos  de trabalho numérico, é costume usar numpy

In [112]:
import array as arr

arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

In [113]:
arr.array('d', [1, 3.5, 'Guilherme'])

TypeError: must be real number, not str

In [114]:
!pip install numpy

Requirement already satisfied: numpy in ./.venv/lib/python3.8/site-packages (1.19.4)

In [115]:
import numpy as np

numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [116]:
numeros + 3

array([4. , 6.5])

In [126]:
class ContaSalario:
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def deposita(self, valor):
        self.saldo += valor
        
    def __str__(self):
        return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [119]:
conta1 = ContaSalario(37)
print(conta1)

[>>Codigo 37 Saldo 0<<]

In [121]:
conta2 = ContaSalario(37)
print(conta2)

[>>Codigo 37 Saldo 0<<]

In [122]:
conta1 == conta2

False

In [123]:
contas = [conta1]
conta1 in contas

True

In [124]:
conta2 in contas

False

In [144]:
class ContaSalario:
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        return self._codigo == outro._codigo and self._saldo == outro._saldo
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [145]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [146]:
conta1 != conta2

False

In [147]:
conta1 in [conta2]

True

In [148]:
conta2 in [conta1]

True

In [149]:
conta1.deposita(10)

In [150]:
conta1 == conta2

False

In [151]:
class ContaSalario:
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [152]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(37)
conta1 == conta2

False

In [153]:
isinstance(ContaCorrente(34), ContaCorrente)

True

In [154]:
isinstance(ContaCorrente(34), Conta)

True

In [160]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(idades)):
    print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [162]:
type(range(len(idades))) # lazy...

range

In [163]:
enumerate(idades) # lazy

In [164]:
list(range(len(idades))) # força a geração dos valores

[0, 1, 2, 3, 4, 5, 6, 7]

In [165]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [167]:
for indice, idade in enumerate(idades): # unpacking da nossa tupla
    print(indice, "x", idade)

0 x 15
1 x 87
2 x 32
3 x 65
4 x 56
5 x 32
6 x 49
7 x 37

In [172]:
usuarios = [
    ('Guilherme', 37, 1981),
    ('Daniela', 31, 1987),
    ('Paulo', 39, 1970)
]

for nome, idade, nascimento in usuarios: # desempacotando, ignorando o resto
    print(nome)

Guilherme
Daniela
Paulo

In [173]:
for nome, _, _ in usuarios: # desempacotando, ignorando o resto
    print(nome)

Guilherme
Daniela
Paulo

In [174]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [176]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [178]:
list(reversed(idades))

[37, 49, 32, 56, 65, 32, 87, 15]

In [179]:
sorted(idades, reverse=True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [180]:
list(reversed(sorted(idades)))

[87, 65, 56, 49, 37, 32, 32, 15]

In [181]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [182]:
idades.sort()

In [183]:
idades

[15, 32, 32, 37, 49, 56, 65, 87]

In [1]:
15 < 32

True

In [5]:
nomes = ["guilherme", "Daniela", "Paulo"]
sorted(nomes)

['Daniela', 'Paulo', 'guilherme']

In [6]:
class ContaSalario:
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [8]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [9]:
for conta in contas:
    print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]
[>>Codigo 133 Saldo 510<<]

In [10]:
sorted(contas)

TypeError: '<' not supported between instances of 'ContaSalario' and 'ContaSalario'

In [11]:
conta_do_guilherme < conta_da_daniela

TypeError: '<' not supported between instances of 'ContaSalario' and 'ContaSalario'

In [12]:
def extrai_saldo(conta):
    return conta._saldo

sorted(contas, key=extrai_saldo)

[<__main__.ContaSalario at 0x7fade6757a60>,
 <__main__.ContaSalario at 0x7fade6757490>,
 <__main__.ContaSalario at 0x7fade6757520>]

In [13]:
def extrai_saldo(conta):
    return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
    print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [14]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo")):
    print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [15]:
conta_do_guilherme < conta_da_daniela

TypeError: '<' not supported between instances of 'ContaSalario' and 'ContaSalario'

In [8]:
class ContaSalario:
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def __lt__(self, outro):
        return self._saldo < outro._saldo
    
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [9]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [10]:
conta_do_guilherme < conta_da_daniela

True

In [11]:
conta_do_guilherme > conta_da_daniela

False

In [12]:
for conta in sorted(contas):
    print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [13]:
for conta in sorted(contas, reverse=True):
    print(conta)

[>>Codigo 3 Saldo 1000<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 17 Saldo 500<<]